<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Timestamp Microservice</title>
        <link rel="stylesheet" href="../public/styles.css"> 
    </head>
    <body>
        <h1>Timestamp Microservice</h1>
        <div class="divider"></div>
        <h2>Example Usage</h2>
        <a target="_blank" href="">[project url]/api/2015-12-25</a>
        <br>
        <a target="_blank" href="">[project url]/api/1451001600000</a>
        <h2>Example Output</h2>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        <p>By Colin Hermack</p>
    </body>
</html>